{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Mes produits favoris </title>
{% endblock title %}
{% block content %}


<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h2>Produits Favoris de {{user.username}}</h2>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for favorite in favorites%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="img-responsive" width="80%" height="225" src="{{ favorite.product_favorite.images  }}"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
              <h5>{{favorite.product_favorite.name|truncatewords:3 }}</h5>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'detail_favori' pk=favorite.pk %}"><button type="button"
                      class="btn btn-sm btn-outline-primary">Details</button></a>
                </div>
                <h3>Grade: {{favorite.product_favorite.grade|upper }}</h3>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>

</main>


<script src="{% static 'js/script.js' %}"></script>
{% endblock %}