{% extends "base2.html" %}
{% load static %}
{% block title %}
<title>Détails produits</title>
{% endblock title %}
{% block content %}

<main role="main"   style="background-image: url('{{ STATIC_URL }}img/fond3.jpg') no-repeat;">
   

    <div class="container">
        <section class="jumbotron text-center">
          <div class="container">
            <h1 id="h1">Produits Favoris </h1>
          </div>
        </section>
      





        <div class="album py-5 bg-light">
          <div class="container">
            <div class="row">

          <div class="col-md-4" >
        <div class="card mb-4 shadow-sm">
          <img class="img-responsive"  width="80%" height="225" src="{{ favorite.product_favorite.images  }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
                <h5>{{favorite.product_favorite.name|truncatewords:3 }}</h5>
            </div>
            <div class="card-body">
                <h5>Produit substitut</h5>
            </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                    <a href="{% url 'aliment_delete' pk=favorite.pk %}" ><button type="button" class="btn btn-sm btn-outline-primary">Supprimer</button></a>
              </div>
              <h3>Grade: {{favorite.product_favorite.grade|upper }}</h3>
            </div>
          </div>
        </div>
        <div>
          {% if favorite.product_favorite.detail_igredient  %}
          <h3>Détail du produits </h3>
          <p class="mb-3"> {{favorite.product_favorite.detail_igredient }} </p>
          {%  endif %}
          <h3>Liste des ingrédients </h3>
          <img class="img-responsive"  width="60%"  src="{{favorite.product_favorite.detail_nutrition_url }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <p>  </p>
          <p class="mb-3"> Pour plus de détail <a href="{{favorite.product_favorite.url }}">ICI</a>  </p>
        </div>
      </div>


      <div class="col-md-4" >
            <div class="card mb-4 shadow-sm">
              <img class="img-responsive"  width="80%" height="225" src="{{ favorite.product_choice.images  }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <div class="card-body">
                    <h5>{{favorite.product_choice.name|truncatewords:3 }}</h5>
                </div>
                <div class="card-body">
                        <h5>Produit sélectionné</h5>
                    </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h3>Grade: {{favorite.product_choice.grade|upper }}</h3>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>

</main>

{% endblock %}
{% block content2%}
{% endblock content2 %}