{% extends "base2.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
<title>Résultat de la recherche</title>
{% endblock title %}

{% block content %}


<br />
<section>

</section>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img class="img-responsive" width="100%" height="200" src="{{ data.images }}"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          <div class="card-body">
            <h2>{{ data.name }}</p>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              {% if data.detail_igredient %}
              <div class="section_subtitle">{% trans 'Detail' %}: {{ data.detail_igredient}}</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div>
        {% if data.grade == 'a' %}
        {{ data.grade }}
        <img class="img-responsive" width="100%" height="100" src="{% static 'img/nutriscore-a.svg'%}"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        {%  elif data.grade == 'b' %}
        <img class="img-responsive" width="100%" height="100" src="{% static 'img/nutriscore-b.svg'%}"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">

        {%  elif data.grade == 'c' %}
        <img class="img-responsive" width="100%" height="100" src="{% static 'img/nutriscore-c.svg'%}"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">

        {%   else%}
        <img class="img-responsive" width="100%" height="100" src="{% static 'img/nutriscore-e.svg'%}"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">

        {% endif %}
      </div>
    </div>
  </div>
</div>


</section>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <div class="col text-center">
        <h1 class="text-uppercase text-white font-weight-bold">{% trans 'Produits de meilleur qualité nutritionnelle' %}
        </h1>
        <div class="section_title">
          <h2>{% trans 'Vous pouvez remplacer cet aliment par' %}</h2>
        </div>
        <div class="section_subtitle">{% trans 'Produits de meilleur qualité nutritionnelle' %}</div>
      </div>
    </div>
    <!-- ***************************************************************** -->
    <section class="page-section bg-white text-orange" id="add-element">


      <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="text-uppercase text-orange font-weight-bold">{% trans 'Aliment recherché' %}</h1>
            <div class="section_subtitle">{% trans 'Resultat de la recherche' %}</div>

          </div>
        </section>
        
        <section class="form-group">
          
          <form method="GET" class="form-group" action="/filter">
            <div class="row">
              <div class="col">
                
                <label for="grade">Grade</label>
                <select name="grade" class="form-control" placeholder="grade" name="grade" >
                  <option value="" >All</option>
                  <option value="a" {% if conditions.grade == "a" %} selected {% endif %} >  A</option>
                  <option value="b" {% if conditions.grade == "b" %} selected{% endif %}>B</option>
                  <option value="c" {% if conditions.grade == "c" %} selected{% endif %}>C</option>
                  <option value="d" {% if conditions.grade == "d" %} selected{% endif %}>D</option>
                  <option value="e"{% if conditions.grade == "e" %} selected{% endif %} >E</option> 
                              
                </select>


              </div>
              
              <div class="col">
                <label for="categorie">Categorie</label>
                <select name="categorie" class="form-control" placeholder="categorie" name="categorie" id="categorie">
                  <option value="">All</option>
                  <option value="1" {% if conditions.categorie == "1" %} selected{% endif %}>Boissons</option>
                  <option value="2" {% if conditions.categorie == "2" %} selected{% endif %}>Produits laitiers</option>
                  <option value="3" {% if conditions.categorie == "3" %} selected{% endif %}>Biscuits</option>
                  <option value="4" {% if conditions.categorie == "4" %} selected{% endif %}>Petit-déjeuners</option>
                  <option value="5" {% if conditions.categorie == "5" %} selected{% endif %}>Chocolats</option>                  
                  <option value="6" {% if conditions.categorie == "6" %} selected{% endif %}>Salades</option>                  
                </select>
              </div>              
              <div class="col">
                <label for="rating">Note</label>
              
                <select name="rating" class="form-control" placeholder="rating" name="grade" id="rating">
                  <option value="">All</option>
                  <option value="1" {% if conditions.rating__rating == "1" %} selected {% endif %}>1</option>
                  <option value="2" {% if conditions.rating__rating == "2" %} selected {% endif %}>2</option>
                  <option value="3" {% if conditions.rating__rating == "3" %} selected {% endif %}>3</option>
                  <option value="4" {% if conditions.rating__rating == "4" %} selected {% endif %}>4</option>
                  <option value="5" {% if conditions.rating__rating == "5" %} selected {% endif %}>5</option>                  
                </select>
                

              </div>
            </div>
            <input type="submit" value="Filtre" class="btn btn-primary" />
          </form>
             


        </section>

        <!-- ************************************************************** -->

    </section>

  <div class="album py-5 bg-light">
      <div class="container">
        <div>
            <ul class="pagination">
                    {% if best_product.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'filter' best_product.previous_page_number %}">Précédente</a></li>
                    {% endif %}
            
                    <li class="page-item">
                            <a class="page-link" href="#">
                            Page {{ best_product.number }} sur {{ best_product.paginator.num_pages }}
                            </a>
                    </li>
            
                    {% if best_product.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'filter' best_product.next_page_number %}">Suivante</a></li>
                    {% endif %}
            </ul>
            </div>
        <div class="row">
            

          {% for value in best_product %}

          <div class="col-md-4">
            <div class="toto-card">
              <img class="img-responsive" width="80%" height="225" src="{{ value.images }}"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <div class="card-body">
                <h5>{{value.name|truncatewords:3 }}</h5>
              </div>
              <div class="col align-items-center" name="Sauvegarder">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="col-6 col-md-4">
                    <a href="{% url 'save_aliment' fav=value.pk prod=data.pk  %}"><button type="button"
                        class="btn btn-sm btn-outline-primary">Sauvegarder</button></a>
                  </div>

                  <div class="col align-self-end">
                    {% if value.grade == 'a' %}
                    <img class="img-responsive" width="50%" height="50" src="{% static 'img/nutriscore-a.svg'%}"
                      focusable="false" role="img">
                    {%  elif value.grade == 'b' %}
                    <img class="img-responsive" width="50%" height="50" src="{% static 'img/nutriscore-b.svg'%}"
                      focusable="false" role="img">

                    {%  elif value.grade == 'c' %}
                    <img class="img-responsive" width="50%" height="50" src="{% static 'img/nutriscore-c.svg'%}"
                      preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                      aria-label="Placeholder: Thumbnail">

                    {%  elif value.grade == 'd' %}
                    <img class="img-responsive" width="50%" height="50" src="{% static 'img/nutriscore-d.svg'%}"
                      preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                      aria-label="Placeholder: Thumbnail">

                    {%   else%}
                    <img class="img-responsive" width="50%" height="50" src="{% static 'img/nutriscore-e.svg'%}"
                      preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                      aria-label="Placeholder: Thumbnail">

                    {% endif %}


                  </div>
                  <div class="rating">
                    {% for rate in rating %}

                    {% if value.pk == rate.product_rating.pk%}
                    {% if rate.rating == 1 %}
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star checked"></span>
                    {% elif rate.rating == 2 %}
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    {% elif rate.rating == 3 %}

                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    {% elif rate.rating == 4 %}
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

                    {% else %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>



                    {% endif%}
                    {% endif %}
                    {% endfor %}

                  </div>








                </div>

              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>

    </div>
    </div>
</main>



</section>


{% endblock %}
