{% extends "base2.html" %}
{% block title %}
<title>Home</title>
{% endblock title %}
{% block content%}
{% endblock %}
{% block content1 %}
{% load static %}
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center"> 
      <div class="col-lg-8 ">
        <h2 class="text-white mt-0">Du gras, oui mais de qualite!</h2>
        <h2 class="text-white mt-0">Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>

      </div>
      {% if produit %}
      <h2 class="text-white mt-1">Désolé mais aucune correspondance pour ce produit: <h1>{{ produit }}</h1>
      </h2>
      {% endif %}

    </div>
  </div>
</section>



<!-- Call to Action Section -->
<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Colette et Remy</h2>
    <p>Pur Beurre est l'initiative de deux amoureux de la gastronomie française,<br/> 
      Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.</p>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-between" id="images-centre"><img class="img-fluid rounded-circle"
        src="{% static 'img/colette-4.jpg' %}" width="30%"><img class="img-fluid rounded-circle"
        src="{% static 'img/remy-4.jpg' %}" width="50%"></div>
    <div class="col-md-4"></div>
  </div>
</section>
<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Contactez-nous</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">Tu es ce que tu manges!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div>Tel: (111) 555-1234</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <!-- Make sure to change the email address in anchor text AND the link below! -->
        <a class="d-block" href="mailto:mameri.wafi@gmail.com">mameri.wafi@gmail.com</a>
      </div>
    </div>
  </div>
</section>



<!-- Contact Section -->



{% endblock content1%}
{% block content2%}
{% endblock content2%}