{% extends "base2.html" %}
{% load static %}
{% block title %}
<title>Résultat de la recherche</title>
{% endblock title %}
{% block content %}

<section class="page-section bg-dark text-orange">


  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="text-uppercase text-orange font-weight-bold">Aliment recherché</h1>
        <div class="section_subtitle">Resultat de la recherche</div>

      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="img-responsive" width="80%" height="200" src="{{ data.images }}"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <div class="card-body">
                <h2>{{ data.name }}</p>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  {% if data.detail_igredient%}
                  <div class="section_subtitle">Detail: {{ data.detail_igredient}}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div>
            {% if data.grade == a %}
            <img class="img-responsive" width="100%" height="200" src="{% static 'img/nutriscore-a.svg'%}"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            {%  elif data.grade == b %}
            <img class="img-responsive" width="100%" height="200" src="{% static 'img/nutriscore-b.svg'%}"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">

            {%  elif data.grade == c %}
            <img class="img-responsive" width="100%" height="200" src="{% static 'img/nutriscore-c.svg'%}"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">

            {%   else%}
            <img class="img-responsive" width="100%" height="200" src="{% static 'img/nutriscore-e.svg'%}"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">

            {% endif %}
          </div>
        </div>


      </div>
    </div>

  </main>
</section>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <div class="col text-center">
        <h1 class="text-uppercase text-white font-weight-bold">Produits de meilleur qualité nutritionnelle</h1>
        <div class="section_title">
          <h2>Vous pouvez remplacer cet aliment par</h2>
        </div>
        <div class="section_subtitle">Produits de meilleur qualité nutritionnelle</div>
      </div>



    </div>
    {% include "pagination.html" with liste=best_product view="resultats" %}
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for value in best_product%}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="img-responsive" width="80%" height="225" src="{{ value.images }}"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
              <h5>{{value.name|truncatewords:3 }}</h5>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'save_aliment' fav=value.pk prod=data.pk  %}"><button type="button"
                      class="btn btn-sm btn-outline-secondary">Sauvegarder</button></a>
                </div>
                <small class="text-muted">Grade: {{value.grade|upper }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
<script src="{% static 'js/script.js' %}"></script>
{% include "pagination.html" with liste=best_product view="resultats" %}
</section>

{% endblock %}