{% extends "base2.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}


{% if user.is_authenticated %}
<div class="row justify-content-center">
    <h3>
        {% trans 'Vous êtes déjà connecté' %}
    </h3>
</div>

{% else %}
{% for msg in messages %}

<ul class="messages">
    <li class="list-group-item">
        <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{ msg.message}}
        </div>
    </li>
</ul>
{% endfor %}
<div class="row justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{% trans 'Se connecter' %}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">

            <button class="btn btn-outline-primary" type="submit" id="submitBtn">{% trans 'login' %}</button>
        </div>

    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            {% trans "Pas encore inscrit ?" %} <a class="ml-2" href="{% url 'register' %}">{% trans "S'inscrire" %}</a>
        </small>
    </div>

</div>
{% endif %}
{% endblock %}